/* @import url("theme.css"); mit dem Befehl würde man das theme.css in dieses style.css integrieren*/

h1 {
    color: cornflowerblue;
    /* man kann auch in anderen Formaten schreiben, z.B. in Hexadezimal "#9ACA42" (die Raute indiziert, dass eine Zahl folgt) oder "RGB(182, 42, 68)" oder "hsla(109, 100%, 52%, 1)" oder "hsl(109, 100%, 52%)" schreiben */
    font-family: "Times New Roman"; 
    /* Wegen den Leerzeichen besser mit Anführungszeichen schreiben, kann man sonst ohne schreiben */
    font-size: 110px;
    font-weight: normal;
    /* Normal ist dünn und nicht fett; kann auch als Zahl definiert werden (~400 ist normal) */


}

body{
    background: palegreen;
}

p{
    font-family: Arial;
    font-size: 32px;
    font-weight: normal;
}

strong{
    font-weight: normal;
    font-family: monospace;
}

table{
    border: 1px solid cornflowerblue;
    border-collapse: collapse;
}

th{
    border: 2px solid yellow;
}

td{
    border: 1px solid red;
}

#special-paragraph{
    color: purple;
}

.normargin{
    margin: 0;
}

:root{
    background: rgb(2,0,36);
background: linear-gradient(313deg, rgba(2,0,36,1) 2%, rgba(96,121,9,1) 21%, rgba(136,146,69,1) 43%, rgba(190,34,200,1) 72%, rgba(13,194,231,0.7259278711484594) 97%);
}

a {
    color: greenyellow;
}

a:hover {
    color: red;
}